<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608955696968-157pifqjf0jrj8cf4d0kcj24emcjtmiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608955696968-157pifqjf0jrj8cf4d0kcj24emcjtmiv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>608955696968-gfi659e9q039pimrfg4os5jgptnnc009.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4JpZsEU0diRPBjtHHm-tP2Oc0RjJoNZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>608955696968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khyrat.myApp</string>
	<key>PROJECT_ID</key>
	<string>mydemoapp-2e5aa</string>
	<key>STORAGE_BUCKET</key>
	<string>mydemoapp-2e5aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608955696968:ios:781a2c8b176c145e23957d</string>
	<key>DATABASE_URL</key>
	<string>https://mydemoapp-2e5aa-default-rtdb.firebaseio.com</string>
</dict>
</plist>